body {
  background-color: black;
  text-align: center;
  color: white;
}
.jumbotron {
  background-image: url(https://images.theconversation.com/files/243206/original/file-20181031-76393-1ycnfy8.jpg?ixlib=rb-1.1.0&rect=1484%2C377%2C2887%2C1443&q=45&auto=format&w=1356&h=668&fit=crop);
  border-radius: 10px;
  text-shadow: 2px 2px 8px;
  color: white;
   animation: animate-bg 25s infinite linear;
}
@keyframes animate-bg {
 from { background-size: 60%; background-position: 0% 0%; }
 50% { background-size: 100%; background-position: 0% 20% }
 to { background-size: 60%; background-position: 0% 0%; }
}
h4 {
  text-decoration: overline;
}
button {
  border: 2px;

}
h2 {
  display: none;
  font-family: 'Faster One', cursive;
  /* font-family: 'Poiret One'; */
  /* text-shadow: 2px 2px 8px; */
}
