body {
  background-color: black;
  text-align: center;
  color: white;
}
.jumbotron {
  background-image: url(http://i.imgur.com/DfzhrkO.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;
  text-shadow: 2px 2px 8px;
  color: white;
   animation: animate-bg 15s infinite linear;
}
@keyframes animate-bg {
 from { background-size: 100%; background-position: 0% 0%; }
 50% { background-size: 110%; background-position: 0% 40% }
 to { background-size: 100%; background-position: 0% 0%; }
}
h4 {
  text-decoration: overline;
}
button {
  border: 2px;

}
h2 {
  display: none;
  font-family: 'Faster One', cursive;
  /* font-family: 'Poiret One'; */
  /* text-shadow: 2px 2px 8px; */
}
